<!DOCTYPE html>
<html>
<head>
    <title>Home 2</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome, {{ username }}</h1>
    <p>You selected: {{ selected_music }}</p>
    <h2>Recommended Audio Files:</h2>
    <ul>
        {% for recommendation in recommendations %}
            <li>{{ recommendation }}</li>
        {% endfor %}
    </ul>
    <!-- Add any additional content or styling here -->
</body>
</html>
